:root{
    --primary-color: beige;
    --font-color: rgb(6, 3, 27);
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --border-color: rgb(6, 3, 27);
}

*, *::after, *::before{
    box-sizing: border-box;

}

body{
    padding-top: 0%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-todo{
    max-width: fit-content;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur (8px);
    box-shadow: 0 10px 25px rgba(6, 3, 27, 0.08);
    
}

.main-contents{
    width: auto;
    display: grid;
}
.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title img{  
    width: 60%;
    padding: 1rem;
}

.main-task{
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
}
.main-task input{
    width: 100%;
    padding: 0.75rem 1.2rem;
    border: 1px solid var(--border-color);
    background-color: rgb(245, 243, 240);
    border-radius: 10px;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: large;
    transition: background-color 0.2s ease;
    box-shadow: 0 10px 25px rgba(6, 3, 27, 0.08);
}
.main-task input:focus, 
.main-task input:hover{
    background-color: beige;
}
.main-task button{
    padding: 0.75rem 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: large;
    background-color: antiquewhite;
    cursor: pointer;
    transition: background-color 0.2s ease;

}
.main-task button:hover{
    background-color: var(--primary-color);
}
.main-task p{
    align-self: baseline;
    box-shadow: 0 10px 25px rgba(6, 3, 27, 0.08);
}

.tasks{
    width: 100%;
    height: 400px;
    max-height: 600px;
    max-width: 700px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 1rem;
    display: block;
    overflow-y: auto;
    flex: 1;
    flex-flow: wrap;
    overflow: auto;
    box-shadow: 0 10px 25px rgba(6, 3, 27, 0.08);
}
.tasks ul{
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    width: 100%;
    max-width: 700px;
    list-style-position: inside;
}
.tasks ul li{
    min-width: 250px;
    max-width: 500px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 0.75em 1.2em;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: normal;
    box-shadow: 0 10px 25px rgba(6, 3, 27, 0.08);
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}
.tasks ul li img{
    width: 2em;
}
